@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
    
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<article class="content-item @contentTypeClassName">
	<header>
		@Display(Model.Header)
		@if (Model.Meta != null) {
			<div class="metadata">
				@Display(Model.Meta)
			</div>
		}
	</header>
	@Display(Model.Content)
	@if(Model.Footer != null) {
		<footer>
			@Display(Model.Footer)
		</footer>
	}
</article>


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!--[if lte IE 8]>
    <style>
    .header-container .wrapper nav a{font-size: 16px !important}


    #slides .slides-container li .container .column, #slides .slides-container li .container .columnRight{background: url(img/blackback.png) repeat !Important}

        </style>

                <![endif]-->


        
		
		 <!-- START MAIN SLIDE CONTAINER -->
		<div id="slides">
		
		<div class="header-container">
		    <header class="wrapper clearfix">
		        
		       
		        <a href="http://alumni.rice.edu/home.html" class="logo">Rice</a>
		        
		        <nav>
		        	<a class="toggleMenu" href="#"></a>
		            <ul class="nav" id="nav">
		                <li class="feat"><a  href="#">Alumni Resources</a></li>
		                <!--<li><a href="about.html">About the ARA</a></li>-->
		                <li class="last"><a href="http://alumni.rice.edu/home.html">Office of Alumni Affairs</a></li>
		            </ul>
		        </nav>
		    </header>
		</div>
		
		 <!-- START SLIDES -->
		  <ul class="slides-container">
		  	
		  	<!-- START SLIDE -->
		  	<li>
		  	  <img  src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/1.jpg"))" alt="Events Calendar ">
               <div class="container" style="width:100%">
                <div class="columnRight">
                 <h1>Events Calendar </h1>
                 <p>The Association of Rice Alumni sponsors events throughout the year: on campus, in major cities throughout the United States, and beyond.</p>
                 <a class="btn" href="http://alumni.cgi.rice.edu/events/calendar.php">Find Upcoming Events &#8594;</a>
                 </div>
              </div>
		  	  
		  	</li>
		  	
		  	
		    <!-- START SLIDE -->
		    <li>
		      <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/2.jpg"))" alt="Alumni Groups">
		      <div class="container" style="width:100%">
		      	<div class="columnRight">
		         <h1>Alumni Groups</h1>
		         <p>So you want to get together with fellow alumni and friends? A number of groups provide opportunities for members of the Rice community to unite around common interests.</p>
		         <a class="btn" href="http://alumni.rice.edu/alumni_groups.html">Search our Groups &#8594;</a>
		         </div>
		      </div>
		    </li>


		     <!-- START SLIDE -->
		    <li>
		      <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/3.jpg"))" alt="Rice Young Alumni">
              <div class="container" style="width:100%">
                <div class="columnRight">
                 <h1>Rice Young Alumni</h1>
                 <p>As a Rice Young Alum, countless resources are made available to you on campus, in the Rice Community and around the globe.</p>
                 <a class="btn" href="http://alumni.rice.edu/youngalum_stds.html">Access Resources and Programs &#8594;</a>
                 </div>
              </div>
		     
		    </li>



		     <!-- START SLIDE -->
		    <li>
		      <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/4.jpg"))" alt="Career Connection">

              <div class="container" style="width:100%">
                <div class="columnRight">
                 <h1>Career Connection</h1>
                 <p>A searchable database of alumni who have agreed to make themselves available to Rice students and to fellow alums for information about their job field.</p>
                 <a class="btn" href="http://alumni.rice.edu/career_connection.html">See Networking Opportunities &#8594;</a>
                 </div>
              </div>
		      
		    </li>
		    
		  
		  </ul>
		  
		  
		  <nav class="slides-navigation">
		    <a href="#" class="next"></a>
		    <a href="#" class="prev"></a>
		  </nav>
		</div>
		
		
		
		
		
        <div class="main-container">
            <div class="main wrapper clearfix">

            	 <hr/>

                <article class="section linkoffs">

                    <h1>Alumni Resources</h1>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2><a href="http://alumni.cgi.rice.edu/events/calendar.php">Events Calendar</a></h2>
                         <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/link_event.jpg"))" class="linkimg"/>
                        <p>The Association of Rice Alumni sponsors events throughout the year: on campus, in major cities throughout the United States, and beyond. </p>
                        <a href="http://alumni.cgi.rice.edu/events/calendar.php" >Find Upcoming Events &#8594;</a>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2><a href="http://alumni.rice.edu/alumni_groups.html">Alumni Groups</a></h2>
                         <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/link_groups.jpg"))" class="linkimg"/>
                        <p>So you want to get together with fellow alumni and friends? A number of groups provide opportunities for members of the Rice community to unite around common interests.</p>
                        <a href="http://alumni.rice.edu/alumni_groups.html" >Search our Groups &#8594;</a>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2><a href="http://alumni.rice.edu/youngalum_stds.html">Rice Young Alumni</a></h2>
                         <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/link_young.jpg"))" class="linkimg"/>
                        <p>As a Rice Young Alum, countless resources are made available to you on campus, in the Rice Community and around the globe.</p>
                        <a href="http://alumni.rice.edu/youngalum_stds.html" >Access Resources and Programs &#8594;</a>
                    </section>
               
                    
                    	<hr/>
               
                    
                     <!-- INSERT FEATURE TEXT  -->                   
                     <section>

                        <h2><a href="http://alumni.rice.edu/career_connection.html">Career Connection</a></h2>
                        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/link_career.jpg"))" class="linkimg"/>
                        <p>A searchable database of alumni who have agreed to make themselves available to Rice students and to fellow alums for information about their job field. </p>
                        <a href="http://alumni.rice.edu/career_connection.html" >See Networking Opportunities &#8594;</a>

                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2><a href="http://alumni.rice.edu/learning_trav.html">Learning & Travel</a></h2>
                         <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/link_learn.jpg"))" class="linkimg"/>
                        <p>The mission of the Association of Rice Alumni includes a commitment to lifelong learning.</p>
                        <a href="http://alumni.rice.edu/learning_trav.html" >View Services and Programs &#8594;</a>
                    </section>
                    
                     <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2><a href="http://giving.rice.edu/">Give to Rice</a></h2>
                         <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/link_give.jpg"))" class="linkimg"/>
                        <p>Join us as we continue our journey toward a second century of original thought and tangible contributions to the world.</p>
                        <a href="http://giving.rice.edu/" >Make a Gift Now &#8594;</a>
                    </section>
                    
                    <hr/>
					
					
					<footer>
						
						  
						                 
					</footer>
					
					
                </article>


            </div> <!-- #main -->
        </div> <!-- #main-container -->

        
        
        
        <!-- START FOOTER  -->
        <div class="footer-container">
            <footer class="wrapper clearfix">
            
                 <h1>Rice University Alumni</h1>
                
               
                <ul>
                	<li><a href="http://alumni.rice.edu/home.html">Alumni Resources</a></li>
                	<li><a href="https://www.facebook.com/ricealumni">Facebook</a></li>
                	<li><a href="https://twitter.com/ricealumni">Twitter</a></li>
                	<li><a target="_blank" href="http://alumni.rice.edu/contact.html">Contact</a></li>
                	
                </ul>
                
            <!-- END FOOTER -->    
            </footer>
        </div>

		

		
