@using Orchard.UI.Resources
@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    SetMeta("viewport", "width=device-width, initial-scale=1, maximum-scale=1");
    SetMeta("width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", "yes");
    Style.Include("http://yui.yahooapis.com/3.8.0/build/cssreset/cssreset-min.css");
    // Style.Include("site.css");
    Style.Include("alpha_background.css");
    Style.Include("grid.css");
    Style.Include("style.css");
    Style.Include("responsive_custom.css");
    Style.Include("http://fonts.googleapis.com/css?family=Lato:300,400,700");
    Script.Require("jQuery");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}






<style>
    #section-sliditnow
    {
        overflow: hidden;
    }
</style>









@tag.StartElement



<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=285205008268336";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="section-topbar">
    <div id="topbar-inner">
        <div class="container">
            <div class="sixteen columns">
                <div class="dropdown">
                    <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/rice_alumni_logo.png"))" class="headlogo"/>

                    <ul id="nav" class="nav">

                        <li class="menu-item"><a href="#section-event">Home</a></li>
                        <li class="menu-item"><a href="#section-anotherabout">About</a></li>
                        <li class="menu-item"><a href="#section-programs">Schedule</a></li>
                        <li class="menu-item"><a href="#section-fees">Price</a></li>
                        <li class="menu-item"><a href="#section-speakers">Classes</a></li>
                        <li class="menu-item"><a href="#section-map">Lodging</a></li>
                    </ul>
                    <!-- // uL#nav -->
                </div>
                <!-- // .dropdown -->

                <div class="clear"></div>
            </div>
            <!-- // .sixteen -->
        </div>
        <!-- // .container -->

        <div class="clear"></div>
    </div>
    <!-- // #topbar-inner -->
</div>
<!-- // #section-topbar -->

	@if (Model.Slides != null)
	{
		<div id="section-sliditnow" style="position: relative">
			<!-- Slideshow 1 -->
			<div class="rslides" id="slider4">
				@Zone(Model.Slides)

			</div>
		</div>
	}

@{
	<div id="section-anotherabout">
		<div class="container">
			<div class="sixteen columns headitadvert">

				<ul id="slider1">
					<li>
						<img src="#" height="90" width="728" style="margin: 0 auto;" /></li>
				</ul>

			</div>
			<!-- // .sixteen -->

			<div class="clear"></div>

			<div class="sixteen columns">
				<h1 class="titleofsec">Alumni Resources</h1>
			</div>
			<div id="homepage-link-container">

            @Zone(Model.Links)


                </div>






			<div class="clear"></div>








			<div class="clear"></div>
		</div>
		<!-- // .container -->
	</div>
	<!-- // #section-invite -->
}


<div id="section-about">
    <div class="container">

        <div class="seven columns">
            <h2>Follow us on facebook</h2>
            <br />



            <p>Experience Rice University for an Unforgettable Weekend</p>



            <div class="fb-like" data-href="http://alumni.rice.edu/alumnicollege/" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false" data-action="recommend"></div>


        </div>
        <!-- // .eight -->

        <div class="eight offset-by-one columns">
            <div class="item">



                <ul id="medrec">
                    <li>
                        <img src="#" height="250" width="300" style="margin: 0 auto;" /></li>
                </ul>


            </div>
            <!-- // .item -->
        </div>
        <!-- // .eight -->






        <div class="clear"></div>




    </div>
    <!-- // .container -->
</div>
<!-- // #section-about -->

<div id="wrapper">


    <div class="container spwall">

        <div class="sixteen columns">
            <h1 class="titleofsec">From the blog...</h1>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <ul id="facebook_wall" class="facebook_wall standard"></ul>

        <div class="clear"></div>
    </div>

</div>















<div id="section-sponsors">
    <div class="container">

        <div class="sixteen columns headitadvert">


            <ul id="sliderbottom">
                <li>
                    <img src="#" height="90" width="728" style="margin: 0 auto;" /></li>
            </ul>

        </div>
        <!-- // .sixteen -->

        <div class="clear"></div>


        <div class="sixteen columns centered">

            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/twitter-bird-hover.png"))" />
            <div class="clear"></div>

            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ricealumni" data-related="ricealumni">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            <div class="clear"></div>




            <div class="twitter-feed">
                <ul id="twitter_update_list" class="rotate"></ul>



            </div>
            <div style="height: 50px"></div>
        </div>









        <div class="clear"></div>
    </div>
    <!-- // .container -->
</div>
<!-- // #section-sponsors -->





<div id="section-invite">
    <div class="container">
        <div class="sixteen columns">
            <h2></h2>
        </div>

        <div class="clear"></div>

        <div class="eight columns">
            <p class="headline"></p>
            <div class="spaceheight"></div>
        </div>

        <div class="clear"></div>

        <div class="sixteen columns">
            <p></p>
        </div>

        <div class="clear"></div>
    </div>
</div>





<div id="section-footer">
	<div class="container">
		<div class="eight columns">
			@if (Model.Footer != null)
   {
				@Zone(Model.Footer)
   }
		</div>
		<!-- // .eight -->
		@if (Model.FooterRight != null)
  {
			<div class="eight columns">
				@Zone(Model.FooterRight)
			</div>
  }


		<div class="clear"></div>
	</div>
    <!-- // .container -->
</div>
<!-- // #section-footer -->




@*	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/selectnav.min.js"))"></script>
<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/bootstrap-scrollspy.js"))"></script>
<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/jquery.custom.js"))"></script>

<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/tabcontent.js"))" type="text/javascript"></script>

<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/twitter-feed.js"))"></script>
<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/rotate.js"))"></script>

<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/facebook_wall.plugin.js"))"></script>
<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/script.js"))"></script>
<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/masonry.js"))"></script>

<script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Scripts/responsiveslides.js"))"></script>



<script>
    // You can also use "$(window).load(function() {"
    $(function () {



        $("#slider4").responsiveSlides({
            auto: false,
            pager: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });


        $("#slider1").responsiveSlides({
            maxwidth: 728,
            speed: 800
        });




        $("#sliderbottom").responsiveSlides({
            maxwidth: 728,
            speed: 800
        });

        $("#medrec").responsiveSlides({
            maxwidth: 300,
            speed: 800
        });



        /*
   
   
        // Slideshow 1
         $("#slider1").responsiveSlides({
           //maxwidth: 800,
           speed: 800
         });
   
         // Slideshow 2
         $("#slider2").responsiveSlides({
           auto: false,
           pager: true,
           speed: 300,
           maxwidth: 540
         });
   
         // Slideshow 3
         $("#slider3").responsiveSlides({
           manualControls: '#slider3-pager',
           maxwidth: 540
         });
   
         // Slideshow 4
         $("#slider4").responsiveSlides({
           auto: false,
           pager: false,
           nav: true,
           speed: 500,
           namespace: "callbacks",
           before: function () {
             $('.events').append("<li>before event fired.</li>");
           },
           after: function () {
             $('.events').append("<li>after event fired.</li>");
           }
         });
   
   */

    });
</script>

<script>



    $(window).load(function () {
        $('#facebook_wall').masonry({ itemSelector: '.post' });


    });





</script>


<script src="http://api.twitter.com/1/statuses/user_timeline.json?screen_name=ricealumni&include_rts=true&count=4&callback=twitterCallback2" type="text/javascript"></script>

<script>
    /*$(".viewhots").click(function() {
  		$(".mapoverlayit").fadeOut(300, function() { $(this).remove(); });
});

*/

    $(document).ready(function () {
        //$("select.selectnav option").val($("#select.selectnav option:first").val());
    });


</script>










@tag.EndElement