			<div class="five columns homepage-link">
				<h2><a href="@Model.ContentItem.HomepagePart.LinkTarget">@Model.ContentItem.WidgetPart.Title</a></h2>
				<img src="@Url.Content(Model.ContentItem.HomepageSecondaryImage.Image.FileName)" class="linkimg"/>
				<p>@Model.ContentItem.BodyPart.Text</p>
				<a href="@Model.ContentItem.HomepagePart.LinkTarget" class="exitlink">@Model.ContentItem.HomepagePart.LinkText &#8594;</a>
				<div class="clear"></div>
			</div>