@model RiceAlumni.Events.Models.LocationPart
<fieldset>
    <legend>@T("Location Details")</legend>
    <table class="form">
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Room)</td>
                <td>@Html.TextBoxFor(m => m.Room)</td>
                <td>@Html.LabelFor(m => m.Building)</td>
                <td>@Html.TextBoxFor(m => m.Building)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Address1)</td>
                <td>@Html.TextBoxFor(m => m.Address1)</td>
                <td>@Html.LabelFor(m => m.Address2)</td>
                <td>@Html.TextBoxFor(m => m.Address2)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.City)</td>
                <td>@Html.TextBoxFor(m => m.City)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.State)</td>
                <td>@Html.TextBoxFor(m => m.State)</td>
                <td>@Html.LabelFor(m => m.Zip)</td>
                <td>@Html.TextBoxFor(m => m.Zip)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Latitude)</td>
                <td>@Html.TextBoxFor(m => m.Latitude, new { @value = Model.Latitude > 0 ? Model.Latitude.ToString() : "" })</td>
                <td>@Html.LabelFor(m => m.Longitude)</td>
                <td>@Html.TextBoxFor(m => m.Longitude)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.MapUrl)</td>
                <td colspan="3">@Html.TextBoxFor(m => m.MapUrl, new { @class = "long" })</td>
            </tr>
        </tbody>
    </table>
</fieldset>


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="left" valign="top">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="left" valign="top"><a href="http://online.alumni.rice.edu/default.aspx?Page=EVNTEventDetail&EventID=1088">Alumni Parking Card</a></td>
                </tr>
                <tr>
                    <td align="left" valign="top"><b>Event Name:</b>&nbsp;Alumni Parking Card</td>
                </tr>
                <tr>
                    <td align="left" valign="top"><b>Date:</b>&nbsp;01/01/2009 1:00 AM to 12/31/2022 11:00 PM</td>
                </tr>
                <tr>
                    <td align="left" valign="top"><b>Registration Date:</b>&nbsp;05/12/2009 1:00 AM to 12/31/2022 11:55 PM</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td align="left" valign="top"><b>Location:</b></td>
                                <td>&nbsp;</td>
                                <td align="left" valign="top">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>Rice University</td>
                                        </tr>
                                        <tr>
                                            <td>6100 Main St.</td>
                                        </tr>
                                        <tr>
                                            <td>Houston, TX 77005</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td align="left" valign="top"><b>Contact:</b></td>
                                <td>&nbsp;</td>
                                <td align="left" valign="top">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>Rice Alumni Office</td>
                                        </tr>
                                        <tr>
                                            <td>713-348-4057</td>
                                        </tr>
                                        <tr>
                                            <td>alumni@rice.edu</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="left" valign="top"><b>Long&nbsp;Description:</b></td>
                    <td>&nbsp;</td>
                    <td align="left" valign="top">
                        <p class="mainSmall">Alumni who visit Rice regularly have expressed interest in a parking arrangement that offers an alternative to paying with a credit card with every visit to campus. The university is pleased to announce that, effective May 2006, Rice is offering — on a trial basis — an alumni parking card. This card, available only to Rice alumni, provides <strong>evening and weekend access to all visitor lots.</strong> A map of these lots is located at <a href="http://www.rice.edu/maps/maps.html" target="_blank">http://www.rice.edu/maps/maps.html</a>. Use of these lots is unrestricted on weekdays from 5:00 p.m. to midnight and from 7:00 a.m. to midnight on Saturday and Sunday.</p>
                        <p class="mainSubtitle">Frequently Asked Questions</p>
                        <p class="mainSmall"><strong>Where can I purchase an alumni parking card?</strong><br />
                            Rice alumni can purchase a card by selecting "Register Online" at the bottom of this screen. Enter your normal username and password for access, or create a new<br />
                            account using the link shown on the login page.</p>
                        <p class="mainSmall"><strong>How much is the Rice alumni parking card?</strong><br />
                            $75 per year.</p>
                        <p class="mainSmall"><strong>Are they sold by calendar year? By fiscal year? Is the card pro-rated if purchased mid-year?</strong><br />
                            The card is valid for 12 months beginning from the purchase month.</p>
                        <p class="mainSmall"><strong>How many are available?</strong><br />
                            In this trial year, 1000 cards will be available for purchase.</p>
                        <p class="mainSmall"><strong>Who should purchase an alumni parking card?</strong><br />
                            The card is appropriate for Rice alumni who visit the campus regularly during the evenings or weekends — to attend Rice functions or events, use Rice facilities, do volunteer work for the university, or accomplish other forms of business. The card is not available to non-alums.</p>
                        <p class="mainSmall"><strong>Why is this card advantageous to alumni?</strong><br />
                            If you visit the campus at least once a month for two or three hours and park in a premium visitor lot (such as the Central Campus Garage) the alumni parking card will pay for itself over the course of a year.</p>
                        <p class="mainSmall"><strong>Can I purchase a card if I work on campus or near campus?</strong><br />
                            This special arrangement is not extended to alumni who also work for Rice, who are current students, or for parking on campus while working elsewhere or leaving campus for non-Rice activities.</p>
                        <p class="mainSmall"><strong>What about a continuing studies student who is an alum?</strong><br />
                            Continuing studies students have their parking fee included in their class fee. Alumni can choose to use their alumni card and park in the visitor lots if they wish to do so.</p>
                        <p class="mainSmall"><strong>What about a current MLS student who is also an alum?</strong><br />
                            Those students will need to pay the MLS student rate since they are classified as a current student at Rice.</p>
                        <p class="mainSmall"><strong>What about non-alums?</strong><br />
                            Non-alums are ineligible for the alumni parking card and must pay the visitor rate in campus visitor parking lots.</p>
                        <p class="mainSmall"><strong>Who is defined as an alum?</strong><br />
                            Anyone who attended Rice for at least two semesters and is no longer a student is considered an alum.</p>
                        <p class="mainSmall"><strong>Does the alumni parking card guarantee me a parking spot on campus?</strong><br />
                            As with all contract parking, there may be times when lots may be filled to capacity or restricted for special use. During these rare occurrences, alumni will need to park elsewhere (such as in the free visitor parking in the Greenbriar Lot).</p>
                        <p class="mainSmall">For additional information about campus parking policies please visit <a href="http://parking.rice.edu/" target="_blank">http://parking.rice.edu</a>.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
